
table{
	margin: 0 auto;
	broder-radius: 10px;
}
td {
  border: 1px solid grey;
  height: 200px;
  width: 200px;
  font-size: 140px;
  font-style: italic;
  text-align: center;
  font-color: white;
}

h1{
	color: white;
	border-color: blue;
	text-align: center;
}

body{
	background-image: url(http://www.pulsarwallpapers.com/data/media/3/Alien%20Ink%202560X1600%20Abstract%20Background.jpg);
}

div{
	font-size: 100px;
}